:root {
    --font-family: 'Ubuntu', sans-serif;
  }
.page{
    background-image: url(../fon.png); 
    font-family: var(--font-family);
} 
.header_page{
    position: static;
    z-index: -1;
       display: flex;
       justify-content: space-between;
       align-items: center;
    color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
background: rgba(0, 0, 0, 0.4);
    height: 58px;
    width: 100%;
}
.title{
    margin: 0;
padding-left: 79px;
font-weight: 700;
font-size: 22px;
line-height: 100%;
color: #fff;
}.icons{
    display: flex;
}
.header_icon{
    margin: 0;
    width: 126px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.welcome{
        display: block;
    padding-right: 79px;
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    padding-left: 29px;
}
.welcome_text{
    color: #fff;
}
.icon, .icon_path:hover{
    fill: #01813f;
}
.log:hover {
    color: #01813f;
    transition: 1s ease;
}
.title:hover, 
.welcome_text:hover{
    color: #3cb878;
    transition: 1s ease;
}
 main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.sign{
  width: 444px;
height: 584px;
box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
background: #fff;
}
.box{
    width: 18px;
height: 18px;
background: #3cb878;
}
.header_sign{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 29px;
    height: 20px;
}
.sign_log{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 332px;
    margin-right: 59px;
    margin-left: 43px;
    & p{
        margin: 0;
font-weight: 400;
font-size: 20px;
line-height: 100%;
text-align: center;
color: #434343;
    }
    & a{
font-weight: 400;
font-size: 14px;
line-height: 100%;
color: #3cb878;
    }
}
.button_sign{
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    width: 332px;
    margin-top: 15px;
}
.button_facebook{
    font-family: var(--font-family);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:157px; height:46px;
    background: #305db8;
    color: #fff;
    border: none;
    border-radius:5px;
    cursor: pointer;
    &.facebook{
        font-size: 16px;
line-height: 100%;
color: #fff;
    }
}
.button_facebook:hover{
background-color: #022263;
transition: 1s ease;
}
.line{
    width: 1px;
    height: 28px;
    background: #0a162f;
opacity: 0.1;
margin-left: -5px;
}
.line_two{
    width: 1px;
    height: 28px;
    background: #0a162f;
opacity: 0.1;
margin-left: -25px;
}
.button_google{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px;
    width: 167px;
height: 46px;
background-color:  #df4a32;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
font-family: var(--font-family);
}
.button_google:hover{
   background-color: #ab1f09;
   transition: 1s ease;
}
.form_user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin-top: 34px;
}
fieldset{
    margin-left: 60px;
    border: none;
    border-top: 1px solid #f2f2f2;
    padding: 0;
    width: 322px;
    
}
.form_input{
    display: grid;
    row-gap: 15px;
    border-radius: 4px;
    margin-top: 12px;
}
legend{
    text-align: center;
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 100%;
color: #848484;
}
.input_text{
    font-family: var(--font-family);
    padding-left: 19px;
    width: 324px;
    height: 44px;
    border: 1px solid #f2f2f2;
}
input::placeholder{
    font-family: 'Ubuntu', sans-serif; 
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #bebebe;
}
.input_text:hover{
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
}
.checkbox_input{
    display: flex;
    margin-left: 55px;
    padding: 5px;
}
.checkbox_input input[type="checkbox"] {
    margin-right: 5px;
}
    .terms{
        color: #3cb878;
        margin-left: 5px;
    }
    .terms:hover{
        color: #01813f;
        transition: 1s ease;
    }
    .checkbox_input {
        display: flex;
        align-items: center;
        cursor: pointer;
font-weight: 400;
font-size: 14px;
line-height: 100%;
color: #434343;
        font-family: 'Ubuntu', sans-serif;
        & a{
            font-family: 'Ubuntu', sans-serif; 
            color: #3cb878; 
        }
      }
      
      .hidden_checkbox {
        display: none;
      }
      
      .custom_checkbox {
        border: 1px solid #f2f2f2;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        margin-right: 8px;
        display: inline-block;
        position: relative;
    }
        .hidden_checkbox:checked + .custom_checkbox::after {
        content: '\2714';
        position: absolute;
        top: 3px;
        left: 2px;
        font-size: 20px;
        color:#3cb878;
        }  
    .checkbox_input .terms {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #3cb878;
    text-decoration: none;
      }
    .checkbox_input .terms:hover {
    color: #01813f;
    transition: 1s ease;
    }
    .submit{
        font-family: var(--font-family);
    margin-top: 5px;
    margin-left: 58px;
    border-radius: 4px;
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    cursor: pointer;
    }
    .submit:hover{
    background: #01813f;
    transition: 1s ease;
    }
